@import "../vars.css";

.main-container{
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5em;
    background-color: var(--color-bg);
}
.main-title{
    margin-bottom: 1em;
    margin-top: 1em;
    color: var(--color-primary);
}