@import "../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 61px;
  z-index: 2;
  margin: 0 5%;
  background-color: transparent;
  transition: 1s;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);
}

.menu {
  display: flex;
  color: var(--dark);
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  position: absolute;
  visibility: hidden;
  color: var(--dark);
  top: 0%;
}
.Dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 7%;
  min-height: 5vh;
  margin-inline: 1vh;
}
.Dropdown-icon{
  height: 4.5vh;
  fill: var(--white);
}
.Dropdown-items{
  visibility: hidden;
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 0;
  opacity: 0;
  transition: all 1s;
  background-color: var(--color-primary);;
}
.Dropdown-item{
  text-transform: capitalize;
  font-variant: small-caps;
  color: var(--white);
  font-weight: bolder;
  padding-block: 10%;
  margin: 0;
  height: 0;
  padding-block: 0;
  transition: all 0.75s ease-in-out;
}
.Dropdown-item:not(:last-child){
  border-bottom: 1px solid var(--white);
}

@media screen and (max-width: 830px) {
  .navbar {
    padding-top: 1em;
  }

  .menuItems a{
    /* align-items: center; */
    font-size: x-small !important;
  }
}