.about-container{
    height: fit-content;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5em;
    background-color: var(--color-bg);
}
.about-title{
    font-size: x-large;
    margin-bottom: 3em;
    margin-top: 2em;
    color: var(--color-primary);
}